.home {
    margin: auto;
    padding: 100px;
}
.title {
    display: flex;
    float: left;
    align-items: center;
    max-width: auto;
    margin: 50px;
    margin-top: 0%;
    border-bottom: 1px solid #f2f2f2;
    font-size: 100px;
    font-weight: bold;
}

.title p {
   color: #003A74;
}

.view-button {
    align-items: center;
}