.logo img {
    float: left;
    width: 50%;
}

.logo {
    margin-left: 0px;
    max-width: 55%;
    margin-right: auto;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: auto;
    border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
    margin-left: auto;
    margin: auto;
    padding: auto;
}
.navbar a {
    margin-left: 10px;
    text-decoration: none;
    padding: 6px;
    font-weight: bold;
}
.navbar a:hover {
    color: #358786;
}